[submodule "react-flow"]
	path = react-flow
	url = https://github.com/cutiefunny/react-flow.git
[submodule "open-webui"]
	path = open-webui
	url = https://github.com/open-webui/open-webui.git
[submodule "clt-chatbot"]
	path = clt-chatbot
	url = https://github.com/cutiefunny/clt-chatbot.git
[submodule "workflowbuilder"]
	path = workflowbuilder
	url = https://github.com/synergycodes/workflowbuilder.git
[submodule "continue"]
	path = continue
	url = https://github.com/continuedev/continue.git
[submodule "msa-project"]
	path = msa-project
	url = https://github.com/ysw1206/msa-project.git
[submodule "dify"]
	path = dify
	url = https://github.com/langgenius/dify.git
[submodule "mcp-server"]
	path = mcp-server
	url = https://github.com/modelcontextprotocol/servers.git
[submodule "n8n"]
	path = n8n
	url = https://github.com/n8n-io/n8n.git
[submodule "yt-assets"]
	path = yt-assets
	url = https://github.com/citizendev9c/yt-assets.git
